# Virtual envs
env-kamilib/

# Jetbrains (IDE)
.idea/
__pycache__
.pytest_cache

# Jupyter notebooks
.ipynb_checkpoints/
Tutoriel.ipynb

# Package utils
dist/
build/
kamilib.egg-info/

# others
runpackage.txt
