astroid==2.4.2
attrs==20.3.0
beautifulsoup4==4.9.3
blis==0.7.4
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.0.0/fr_core_news_sm-3.0.0-py3-none-any.whl
idna==2.10
iniconfig==1.1.1
isort==5.7.0
Jinja2==2.11.3
joblib==1.0.0
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
mccabe==0.6.1
murmurhash==1.0.5
numpy==1.20.0
packaging==20.9
pathy==0.3.6
pluggy==0.13.1
preshed==3.0.5
py==1.10.0
pydantic==1.7.3
pylint==2.6.0
pyparsing==2.4.7
pytest==6.2.2
python-Levenshtein==0.12.2
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.0
six==1.15.0
smart-open==3.0.0
soupsieve==2.1
spacy==3.0.3
spacy-legacy==3.0.1
srsly==2.4.0
termcolor==1.1.0
thinc==8.0.1
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.56.2
typer==0.3.2
urllib3==1.26.3
wasabi==0.8.2
wrapt==1.12.1
