astroid
attrs
beautifulsoup4
iniconfig
isort
joblib
lazy-object-proxy
lxml
mccabe
numpy
packaging
pluggy
py
pylint
pyparsing
pytest
python-Levenshtein
scikit-learn
scipy
six
soupsieve
termcolor
threadpoolctl
toml
wrapt
Unidecode
kraken==3.0.0.0b24